#profile {
  height: 35px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#profile-panel-left, #profile-panel-right {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}

#profile-panel-left p {
  font-weight: 600;
  font-size: 18px;
  text-shadow: 0px 4px 6px rgba(0, 0, 0, 0.085);
  margin: 0;
}

#profile-panel-left img {
  width: 36px;
  height: 36px;
  border-radius: 50%;
}

#profile-panel-right p {
  font-weight: 200;
  font-size: 16px;
  font-style: italic;
  margin: 0;
}