body {
  background-color: #CAC4A2;
  overflow: hidden;
  font-family: "Sofia Sans", serif;
}

.panel {
  background-color: hsla(0, 0%, 85%, 0.85);
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 10px;
}

h2 {
  font-size: 26px;
  font-weight: 700;
  text-shadow: 0px 4px 6px rgba(0, 0, 0, 0.125);
  margin: 0;
}

h1 {
  font-size: 32px;
  font-weight: 700;
  text-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  margin: 0;
}

p.smallText {
  font-size: 15px;
  font-weight: 300;
  font-style: italic;
  color: #6b6a66;
}

.vertical-line {
  width: 0.075rem;
  height: auto;
  background-color: rgb(182, 180, 174, 0.5);
}

.horizontal-line {
  width: auto;
  height: 0.1rem;
  background-color: rgb(182, 180, 174, 0.5);
}